version: "3.3"

services:
  ## shared/managed services

  postgres:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: ${WRITE_DB_PASS}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432

  ## application services

  example-service:
    image: example-service:latest
    ports:
      - 10000:80
    environment:
      - APP_ENV=${APP_ENV}
      - APP_COMPONENT=${APP_COMPONENT}
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - LOG_LEVEL=${LOG_LEVEL}
      - READ_DB_SCHEME=${READ_DB_SCHEME}
      - READ_DB_USER=${READ_DB_USER}
      - READ_DB_PASS=${READ_DB_PASS}
      - READ_DB_HOST=${READ_DB_HOST}
      - READ_DB_PORT=${READ_DB_PORT}
      - READ_DB_NAME=${READ_DB_NAME}
      - WRITE_DB_SCHEME=${WRITE_DB_SCHEME}
      - WRITE_DB_USER=${WRITE_DB_USER}
      - WRITE_DB_PASS=${WRITE_DB_PASS}
      - WRITE_DB_HOST=${WRITE_DB_HOST}
      - WRITE_DB_PORT=${WRITE_DB_PORT}
      - WRITE_DB_NAME=${WRITE_DB_NAME}
      - MIN_DB_POOL_SIZE=${MIN_DB_POOL_SIZE}
      - MAX_DB_POOL_SIZE=${MAX_DB_POOL_SIZE}
      - DB_USE_SSL=${DB_USE_SSL}
      - SERVICE_READINESS_TIMEOUT=${SERVICE_READINESS_TIMEOUT}
    volumes:
      - ./mount:/srv/root
      - ./scripts:/scripts
    depends_on:
      - postgres
